body
{
	padding:0px;
	margin:4px;
	font-family:Tahoma, Helvetica, Arial, sans-serif;
	font-size:13pt;
}

h1
{
	font-size:18pt;
	line-height:175%;
	font-weight:bold;
	background-color:#cccccc;
	text-align:center;
	padding:3px;
	margin-left:-4px;
	margin-right:-4px;
	margin-top:-4px;
	margin-bottom:5px;
}

div.success_message
{
	font-size:12pt;
	-webkit-shadow: 1px 1px 1px #fff;
	color:white;
	background-color:green;
	font-weight:bold;
	padding:3px;
	margin-left:-4px;
	margin-right:-4px;
	margin-top:-4px;
	margin-bottom:4px;
	text-align:center;
}

div.sub_form
{
	border:1px solid #cccccc;
	padding:8px;
	margin:4px;
	margin-bottom:10px;
	-webkit-border-radius: 0.5em;
	-webkit-box-shadow: 1px 1px 1px #ddd;
   
}

input, textarea, select
{
	margin-bottom:10px;
	
}

input, textarea 
{
   border: 1px solid #555;
   padding: 0.5em;
   font-size: 13pt;
   line-height: 1.2em;
   width: 80%;
   background: #fff;
   background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
   -webkit-box-shadow: 1px 1px 1px #fff;
   -webkit-border-radius: 0.2em;
}

select
{
	border: 1px solid #555;
	padding: 0.5em;
	font-size: 13pt;
	line-height: 1.2em;
	width: 80%;
}

input[type=checkbox],
 input[type=radio] {
   display: inline-block;
   font-size: 15px;
   line-height: 1em;
   margin: 0 0.25em 0 0;
   padding: 0;
   width: 2.5em;
   height: 2.5em;
   -webkit-border-radius: 0.25em;
   vertical-align: text-top;
 }

 input[type=radio] {
    -webkit-border-radius: 2em; /* Make radios round */
  }

 input[type=submit] {
	background: #058cf5;
	width:7em;
  }

input:focus, textarea:focus, select:focus {
	   outline: none;
	   border: 2px solid #058cf5;
	   margin: -1px;
}

